doctype html
head
  meta(charset='utf-8')
  title Techkey Cybernetics | Client Dashboard
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(content='Techkey Cybernetic client dashboard.' name='description')
  meta(content='Techkey Cybernetics' name='author')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='google-signin-client_id' content='543377298856-sjbd65257ijigj015um41otaldtpotgd.apps.googleusercontent.com')
  // App favicon
  link(rel='shortcut icon' href='/assets/images/logo.png')
  // Bootstrap Css
  link#bootstrap-stylesheet(href='/assets/css/bootstrap.css' rel='stylesheet' type='text/css')
  // Icons Css
  link(href='/assets/css/icons.min.css' rel='stylesheet' type='text/css')
  // App Css
  link#app-stylesheet(href='/assets/css/app.css' rel='stylesheet' type='text/css')
  script(src='https://apis.google.com/js/platform.js' async='' defer='')
  script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')
    
