extends base 

block content 

 .content-page
  .content
    // Start Content
    br
    .container-fluid
      .row
        .col-md-4
          .card-box(style='border-radius: 15px')
            .row
              .col-md-12
                svg.bi.bi-credit-card-2-front-fill(xmlns='http://www.w3.org/2000/svg' width='46' height='46' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zm0 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z')
                h3(style='font-weight: 300') Web Development
                p.header-title issued 24 Tue sep 2021
                p(style='font-size: 16px') KSh 8,000
                a(href='/payment')
                  img.img-fluid(src='assets/images/email/1.png' alt='')
                a.btn.btn-primary.btn-block.waves-effect.waves-light(href='#') Download invoice
                a.btn.btn-success.btn-block.waves-effect.waves-light(href='/payment') paynow
        // end col
      // end row
    // container-fluid
  // content
  // Footer Start
  footer.footer
    .container-fluid
      .row
        .col-md-6
          | 2016 - 2020 &copy; Adminto theme by 
          a(href='') Coderthemes
        .col-md-6
          .text-md-right.footer-links.d-none.d-sm-block
            a(href='javascript:void(0);') About Us
            a(href='javascript:void(0);') Help
            a(href='javascript:void(0);') Contact Us
  // end Footer
