extends base 

block content 
 .content-page
  .content
    // Start Content
    .container-fluid
      .row.mt-2
        .col-xl-6.col-md-6
          .card-box
            h3.mt-0.mb-2(style='font-weight: 300')
              | Web Development
            h3.mt-0.mb-3(style='font-weight: 600') KSh 8,000
            a.btn.w-md.waves-effect.waves-light(style='background: rgb(73, 72, 72)' href='/invoice') Back
        .col-xl-6.col-md-6
          .card-box
            h3.mt-0.mb-2(style='font-weight: 300') Action
            h5(style='font-weight: 300; font-size: 17px')
              a(href='tel:+254710664418')
                i.mdi.mdi-earth
                |                       Call Us For Assistance
            span +254710664418
      .row
        .col-lg-12
          .row
            .col-xl-12.col-md-12
              .card-box
                div
                  h2
                    svg.bi.bi-credit-card-2-front-fill(xmlns='http://www.w3.org/2000/svg' width='46' height='46' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zm0 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z')
                  h3(style='font-weight: 300') Invoice Payment
                  h4(style='font-weight: 300') Amount : KSH 8,000
                  h4(style='font-weight: 300') Date issued: 24/1/2021
                  br
                  hr(style='\
                  margin: 0;\
                  padding: 0;\
                  border-color: rgb(153, 153, 161);\
                  ')
                  h4.mt-2(style='font-weight: 300')
                    | Pay with Mpesa
                  .row
                    .col-md-6
                      div
                        h4(style='font-weight: 300') Steps
                        h4(style='font-weight: 300')
                          ul(style='letter-spacing: 1px; line-height: 2')
                            li
                              | On the M-PESA Menu Go to Lipa Na M-PESA
                            li Select &apos;Buy Goods and Services&apos;
                            li Enter Till Number 9135889
                            li Enter amount KSh 8,000
                            li Enter your M-PESA PIN number.
                    .col-md-6
                      img.img-thumbnail.float-left.mr-3(src='assets/images/tillnumber.jpg' alt='' srcset='')
          // end row
      // end row
      // end row
    // container-fluid
  // content
  // Footer Start
  footer.footer
    .container-fluid
      .row
        .col-md-6
          | 2016 - 2020 &copy; Adminto theme by 
          a(href='') Coderthemes
        .col-md-6
          .text-md-right.footer-links.d-none.d-sm-block
            a(href='javascript:void(0);') About Us
            a(href='javascript:void(0);') Help
            a(href='javascript:void(0);') Contact Us
  // end Footer
